html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-template-areas:
  "header"
  "main"
  "footer";
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }
}

.header {
  grid-area: header;
  text-align: center;
  margin-bottom: 3rem;
}

.header .icon {
  max-width: 50px;
  max-height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.avatar {
  background-image: url('./avatar.jpg');
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.main {
  margin-bottom: 3rem;
  grid-area: main;

  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-column-gap: 20px;

  grid-template-areas:
  ". ruby elixir ."
  ". react clojure .";
}


@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "ruby"
    "react"
    "elixir"
    "clojure";
  }
}

.ruby {
  grid-area: ruby;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "ruby-symbol ruby-desc";
}

.elixir {
  grid-area: elixir;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "elixir-symbol elixir-desc";
}

.react {
  grid-area: react;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "react-symbol react-desc";
}

.clojure {
  grid-area: clojure;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "clojure-symbol clojure-desc";
}

.symbol img {
  margin: 25px;
  height: 64px;
  width: 64px;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.footer p {
  font-size: 0.75em;
}
